.heading {
  text-align: center;
  font-size: var(--title-text-size);

  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  flex: 1;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.heading-2 {
  font-size: var(--header-text-size);
  font-weight: 600;
}
